* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

#container {
  font-family: "Poppins", sans-serif;
}

#search-box {
  background-color: #dedede;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  outline: none;
}

#search-btn {
  padding: 10px;
  color: #ffffff;
  background-color: #C6B9E8;
  border: 1px solid #cfcece;
  border-radius: 5px;
}

#weather-icon {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

#weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}

#temperature {
  font-size: 2rem;
  font-weight: 200;
}

#description {
  font-style: italic;
}